<div class="container">
	<h1>Thanks for committing, <%= name %>!</h1>
	<h2>You'll be receiving a confirmation text from us shortly.</h2>
	<p>We have your phone number down as <%= phoneNumber %>, your senator down as <%= senatorName %>, and your assemblyperson down as <%= assemblypersonName %>. If that doesn't look right, contact us and we'll sort it right out!</p>
	<a href="/">Back to home</a>
</div>
