<div class="container text-center">
	<h1>Is 50-A Repealed Yet?</h1>
	<h2><strong>NO</strong></h2>
	<div class="more-info-text" @click="clickHeroButton()">
		<div class="text">Help make it so</div>
		<div class="icon">&darr;</div>
	</div>
	<h2>Commit to calling the New York State legislature with us, every week, until they repeal 50-A.</h2>
	<form action="/register" method="post">
		<label for="firstname">First name:</label>
		<br>
		<input type="text" name="firstName" id="firstname" required>
		<br>
		<label for="phone">Phone number:</label>
		<br>
		<input type="tel" name="phoneNumber" id="phonenumber" required>
		<br>
		<label for="zip">New York State ZIP code:</label>
		<br>
		<input type="number" name="zip" id="zip" required>
		<br>
		<input type="submit" value="Submit">
	</form>
</div>
