<div class="container">
	<h1>Privacy and security information</h1>
	<p>We take your privacy and security extremely seriously, and comply with all relevant state, federal and international laws. Here's some information on what data we collect, where it goes, and how you can control it.</p>
	<h2>Data we collect</h2>
	<p>When you pledge to call, we save:</p>
	<ul>
		<li>The first name you gave us</li>
		<li>The phone number you gave us</li>
		<li>The geographic coordinates of the address you gave us</li>
		<li>Who your representatives in the New York State legislature are, based on your address</li>
	</ul>
	<p>We do not, and will never, sell your data or use it for marketing purposes.</p>
	<h2>Third parties we ask to process your information</h2>
	<p>To help register you with the system, we need to give some partners your information. Here's a list of them and what we tell them:</p>
	<ul>
		<li>All the data we retain is stored in <a href="https://www.heroku.com/postgres">Heroku</a></li>
		<li>We send <a href="https://www.mapbox.com/">Mapbox</a> your address to turn it into coordinates</li>
		<li>We submit those coordinates to <a href="https://openstates.org/">OpenStates</a> to figure out who your representatives are</li>
		<li><a href="https://www.twilio.com/">Twilio</a> handles any text messages that we send to or receive from you</li>
	</ul>
	<h2>Controlling your data</h2>
	<p>You can text <strong>STOP</strong> to <a href="sms:+12054559874">+1 205-455-9874</a> at any time to stop receiving texts from us.</p>
	<h2>A note on the GDPR</h2>
	<p>We believe the GDPR does not apply to this website because we don't cater specifically to EU users and we don't track site visitors. <a href="https://gdpr.eu/companies-outside-of-europe/">See this article</a>.</p>
	<p>That being said, we believe in the spirit of the GDPR, and if you want to exercise any of your rights under GDPR we'll happily honor them. Fixing compliance problems would not take that long, but going through GDPR and confirming that we meet every single legal requirement would. Not doing that helped us launch the site faster.</p>
	<p>We will come into (voluntary) official compliance at some point soon, if only so this confusing note can go away!</p>
	<h2>Government data requests</h2>
	<p>We have never received a legal request from any government in the world for any user data in this website.</p>
	<h2>Reporting security vulnerabilities</h2>
	<p>If you believe you've found a security vulnerability in this website, do <strong>not</strong> report it in a public GitHub issue. Instead, email <a href="mailto:ajord17@u.rochester.edu">ajord17@u.rochester.edu</a> and include a detailed description of the vulnerability, proof-of-concept code if you have any, and any other pertinent details. We'll coordinate with you to fix the vulnerability, notify users if necessary, and give you credit if you want it.</p>
</div>
